@model YourNamespace.Models.DonationsDashboardViewModel

<div class="container">
    <h1>Donor Dashboard</h1>
    <p>Make a Donation</p>
</div>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #E6E6FA;">
    <a class="navbar-brand" href="#">Donor Panel</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a asp-controller="Donations" asp-action="MakeDonation">Make Donation</a>
            </li>
        </ul>
    </div>
</nav>
